.Home {
    display: flex; 
    flex-direction: column; 
    height: 100vh; 
}

.header {
    flex: 0 1 30%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative; 
}

.card-container {
    flex: 1; 
}

