/* Navbar.css */
.navbar {
  background-color: #343a40; /* Dark background color */
  padding: 10px 20px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar-buttons {
  display: flex;
  gap: 15px; /* Space between buttons */
  padding-left: 10px;
  flex-direction:row;
}

.navbar-buttons button {
  background-color: #343a40; /* Match the background color */
  color: white; /* Text color */
  border: 1px solid white; /* Remove border */
  padding: 8px 12px; /* Add some padding */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.navbar-buttons button:hover {
  background-color: #495057; /* Slightly lighter on hover */
}

.total-button {
  display: flex;
  align-items: end;
}

.total-button button {
  background-color: transparent;
  color: skyblue;
  border-color: skyblue;
}